.misproyectos{
    text-align: center; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 6.87em 5.62em 2em;
    box-shadow: 0 0 30px 0 rgba(133, 130, 130, 0.747);
    background: linear-gradient(135deg, rgba(180,183,218,0.9023984593837535) 9%, rgba(192,220,223,0.48503151260504207) 46%, rgba(180,182,218,1) 95%);
  }
  
  .proyecto{
    width: 100%;
    max-width: 68.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proyectos-titulo{
    font-size: 3em;
    font-weight: 950;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
  }

  .proyectos-texto{
    font-size: 1.5em;
    max-width: 25em;
    font-family: inherit;
    display: inline-flex;
    padding-top: 1em;
  }

  .proyects{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 1em 11.5em 7em;
  }

 .imgcomilla{
      width: 6.25em;
      padding: 0.62em 0.62em;
  }

  a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .imagen{
    width: 12em;
    padding: 10px 10px; 
  }

  .cuadrado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14em;
    margin: 10px;
    border: 1px solid #c5c9d4;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    background-color: white;
  }

  .cuadrado:hover{
    border: 1px solid #656a80;
    transform: rotate(4deg);
  }
  
  a{
    color:#242429;
    text-decoration: none;
  }

  a:hover{
    color:#656a80;
  }

  .nameproyecto{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 600;
  }


  /* Inicio Media Query */

@media screen and (max-width:1024px){
  .misproyectos{
    width: 200%;
  }
  .proyects{
    padding: 1.87em 11.5em;
  }
  
}

@media all and (max-width:700px){
  .misproyectos{
    min-width: 81rem;
  }

  .proyects{
    padding: 1.82em 7em;
    max-width: 60rem;
  }
}

